{{ partial "header" . }}
<div class="container clearfix">
    <main role="main" class="content">
        <a class="btn home" href="{{ .Site.BaseURL }}" title="{{ .Site.Data.l10n.article.back_to_home }}">&laquo; {{ .Site.Data.l10n.article.back_to_home }}</a>
        {{ range .Data.Pages }}
            <h2>
                <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </h2>

            {{ .Content }}
        {{ end }}
    </main>

    {{ partial "author" . }}
</div>
{{ partial "footer" . }}
