@import url('https://fonts.googleapis.com/css?family=Scope+One|Source+Code+Pro');

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Scope One", serif;
}

code {
    font-family: "Source Code Pro", monospace;
}

.hljs {
    padding: 0;
}

.highlight > pre,
pre > .hljs {
    border-radius: 2px;
    padding: 0.5em 1em;
}

.highlight > pre > .hljs {
    border-radius: 0;
    padding: 0;
}

kbd {
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 3px;
    padding: 0 0.2em;
}

.alert {
    padding: 0.5em 2em;
    margin-bottom: 1em;
    border-left: 3px solid #aaa;
}

.alert.info {
    border-color: #0074D9;
}

.alert.warning {
    border-color: #FF851B;
}

.alert.danger {
    border-color: #FF4136;
}

.alert.success {
    border-color: #2ECC40;
}

.codeblock {
    border: 1px solid #ddd;
    border-radius: 2px;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.codeblock-title {
    line-height: 30px;
    height: 30px;
    padding: 0.5em 1em;
    margin-right: auto;
}

input.codeblock-tab {
    position: absolute;
    opacity: 0;
}

label.codeblock-tab {
    padding: 0.5em 1em;
    line-height: 30px;
    cursor: pointer;
    width: auto;
}

input.codeblock-tab:checked + label.codeblock-tab {
    background: rgb(103, 184, 255);
}

input.codeblock-tab:checked + label.codeblock-tab + .codeblock-tab-content {
    display: block;
}

.codeblock-tab-content {
    width: 100%;
    order: 99;
    display: none;
}

.codeblock-tab-content pre {
    margin: 0;
}

.image-figure {
    text-align: center;
}

.image-figure > figcaption {
    font-size: 0.8rem;
}