<article class="post github-readme" itemscope itemType="http://schema.org/SoftwareSourceCode">
    <div class="post-content markdown" itemprop="about">
        <div class="main-content-wrap">
            <%- markdown(post.content) %>
        </div>
    </div>
</article>