/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.navbar .site-name
  font-weight: lighter

.page-meta
.page-nav
.page .theme-default-content
  max-width: 960px;