/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #1FB3FF
$accentColorLight = #6BCEFF
$accentColorDark = #0F5A80
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

:root {
    --accentColor: $accentColor;
    --accentColorLight: $accentColorLight;
    --accentColorDark: $accentColorDark;
    --textColor: $textColor;
    --borderColor: $borderColor;
}