<section role="complementary" class="quotes" id="quotes-container" onclick="updateQuote()">

</section>

<script defer>
    let quoteShadowDoms = Array.prototype.slice.call(
        document.getElementsByClassName("quotes")
    ).map(elem => elem.attachShadow({ mode: "open" }))

    function updateQuote() {
        fetch("https://bender.sierrasoftworks.com/api/v1/quote", {
            headers: {
                accept: "text/html"
            }
        }).then(res => {
            if (!res.ok || res.status !== 200) return Promise.reject(new Error(`server responded with ${res.status} (ok: ${res.ok})`))

            return res.text()
        }).then(quote => {
            quoteShadowDoms.forEach(dom => dom.innerHTML = quote)
        }).catch(err => {
            console.error("failed to fetch a quote", err)
        })
    }

    updateQuote()
</script>