@font-face {
    font-family: 'Open Sans';
    font-style:  normal;
    font-weight: 400;
    src:         local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3SZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style:  normal;
    font-weight: 700;
    src:         local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzJS3E-kSBmtLoNJPDtbj2Pk.ttf) format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCCYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/stats/Inconsolata/normal/400);
  unicode-range: U+20;
}

@font-face {
  font-family: 'Scope One';
  font-style: normal;
  font-weight: 400;
  src: local('Scope One'), local('ScopeOne-Regular'), url(https://fonts.gstatic.com/s/scopeone/v2/5L_rzgZS69R6TluPhc4U-xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Scope One';
  font-style: normal;
  font-weight: 400;
  src: local('Scope One'), local('ScopeOne-Regular'), url(https://fonts.gstatic.com/s/scopeone/v2/_52Fm41u4u2R3EEH0A9bn1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*!
 *  Hack v2.020 - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license, CSS: MIT License
 */
 @font-face {
    font-family: 'Hack';
    src: url('../fonts/eot/latin/hack-regular-latin-webfont.eot?v=2.020');
    src: url('../fonts/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),url('../fonts/woff2/latin/hack-regular-latin-webfont.woff2?v=2.020') format('woff2'),url('../fonts/woff/latin/hack-regular-latin-webfont.woff?v=2.020') format('woff'),url('../fonts/web-ttf/latin/hack-regular-latin-webfont.ttf?v=2.020') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face{
    font-family:'Hack';
    src:url('../fonts/eot/latin/hack-bold-latin-webfont.eot?v=2.020');
    src:url('../fonts/eot/latin/hack-bold-latin-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),url('../fonts/woff2/latin/hack-bold-latin-webfont.woff2?v=2.020') format('woff2'),url('../fonts/woff/latin/hack-bold-latin-webfont.woff?v=2.020') format('woff'),url('../fonts/web-ttf/latin/hack-bold-latin-webfont.ttf?v=2.020') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Hack';
    src: url('../fonts/eot/latin/hack-italic-latin-webfont.eot?v=2.020');
    src: url('../fonts/eot/latin/hack-italic-latin-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),url('../fonts/woff2/latin/hack-italic-latin-webfont.woff2?v=2.020') format('woff2'),url('../fonts/woff/latin/hack-italic-latin-webfont.woff?v=2.020') format('woff'),url('../fonts/web-ttf/latin/hack-italic-latin-webfont.ttf?v=2.020') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

  @font-face{
    font-family: 'Hack';
    src: url('../fonts/eot/latin/hack-bolditalic-latin-webfont.eot?v=2.020');
    src: url('../fonts/eot/latin/hack-bolditalic-latin-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),url('../fonts/woff2/latin/hack-bolditalic-latin-webfont.woff2?v=2.020') format('woff2'),url('../fonts/woff/latin/hack-bolditalic-latin-webfont.woff?v=2.020') format('woff'),url('../fonts/web-ttf/latin/hack-bolditalic-latin-webfont.ttf?v=2.020') format('truetype');
    font-weight: 700;
    font-style: italic;
  }

.fa {
    line-height: inherit;
}