<div class="github-projects">
    {{ $urlBase := "https://api.github.com" }}
    {{ if getenv "SECRET_GITHUB_USER" }}
    {{ $urlBase := printf "https://%s:%s@api.github.com" (getenv "SECRET_GITHUB_USER") (getenv "SECRET_GITHUB_TOKEN") }}
    {{ end }}
    {{ $pageLimit := false }}
    {{ $type := (.Get 0) }}
    {{ $id := (.Get 1) }}
    {{ range (slice 1 2 3 4 5 6 7 8 9) }}
        {{ if not $pageLimit }}
            {{ $repositories := getJSON $urlBase "/" $type "s/" $id "/repos?page=" (printf "%d" .)}}
            {{ if eq (len $repositories) 0 }}
                {{ $pageLimit := true }}
            {{ else }}
                {{ range (sort $repositories "name") }}
                {{ partial "github-project" . }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</div>